<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PURO & BIO CAFÈ MENÙ</title>
    <link rel="stylesheet" href="/static/css/piazza.css">
    <link rel="icon" type="image/x-icon" href="/static/images/piazza_icon.png">

</head>
<body>
    <div id="container">
        <div id="menu">
            <img src="/static/images/menu1.jpg" alt="">
            <img src="/static/images/0_p.jpg" alt="">
            <img src="/static/images/1_p.jpg" alt="">
            <img src="/static/images/2_p.jpg" alt="">
            <img src="/static/images/3_p.jpg" alt="">
            <img src="/static/images/4_p.jpg" alt="">
        </div>
    </div>
</body>
</html>